@import '~bootstrap/dist/css/bootstrap.min.css';
.sidepanel{
  padding:48px;
  box-shadow: 4px 0px #888888;
  height:100vh;
  @media (min-width: 600px){
    width:100%;
    font-size: 1.25rem;
  }
  @media (min-width: 992px){
    width:383px;
    font-size: 0.5rem;
    label{
      font-size: 1.15rem;
    }
  }
  .searchtitle{
    float:left;
  }

  .searchtopbar{
    width:100%;
    overflow: auto;
  }

  .searchfilter input{
    font-size:1rem;
  }
  .mylocation{
    float:right;
  }

  .mylocation:hover{
    color:blue;
  }

  .mylocation button {
    font-size: 0.95rem;
  }
  .mylocation button:hover{
    font-size: 0.95rem;
    color: blue;
  }
  .material-icons{
    font-size: 16px;
    width: 16px;
    height:16px;
  }
  .filtertopbar{
    width:100%;
    overflow: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    border-bottom: 1px solid #c8c8c8;
  }
  .filtertitle{
    float:left;
  }
  .resetfilter{
    float:right;
  }

  .resetfilter:hover{
    color:blue;
  }

  .resetfilter button {
    font-size: 0.95rem;
  }
  .resetfilter button:hover{
    font-size: 0.95rem;
    color: blue;
  }

  .driving_option_img{
    width:30px;
    height:25px;
  }

  .distancefilter{
    margin-top: 20px;
  }

  .bike{
    border:solid 2px #c8c8c8;
    width:50px;
    height:50px;

  }

  .bike h6{
    margin: 2px;
    font-weight: 600;
  }

  .car {
    border:solid 2px #c8c8c8;
    width:50px;
    height:50px;
  }

  .car h6{
    margin: 2px;
    font-weight: 600;
  }

  .truck{
    border:solid 2px #c8c8c8;
    width:50px;
    height:50px;
  }

  .truck h6{
    margin: 2px;
    font-weight: 600;
  }




}
