<div class="sidepanel">
  <form action="filter">
    <fieldset>
      <div class="searchtopbar">
        <h6 class="searchtitle">Search by ZipCode</h6>
        <!-- <div class = "mylocation">
          <button>My Location</button>
          <mat-icon >location_on</mat-icon>
        </div> -->
      </div>
      <!-- <div class="callout">Model: {{selectedBasic | json}}</div> -->
      <div class="searchfilter">
        <!-- <mat-google-maps-autocomplete country="us" type="address"
          (onAutocompleteSelected)="onAutocompleteSelected($event)" (onLocationSelected)="onLocationSelected($event)">
        </mat-google-maps-autocomplete> -->

        <input class="input" type="text" [(ngModel)]="cityName" #addresstext
          [ngModelOptions]="{standalone: true}">
      </div>

    </fieldset>
    <fieldset>
      <div class="filtertopbar">
        <h6 class="filtertitle">Filter</h6>
        <div class="resetfilter">
          <button>Reset Filter</button>
          <mat-icon>close</mat-icon>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <label for="drivingoption">Driving License</label>
      <div class="container">
        <div class="row">
          <div class="col-sm-4 driving_option">
            <div #bike_div class="text-center bike" (click)="bike_click()">
              <img class="driving_option_img" src="assets/img/bike.png" height="25" width="30">
              <h6 class="text-center">Bike</h6>
            </div>
          </div>
          <div class="col-sm-4 driving_option">
            <div #car_div class="text-center car" (click)="car_click()">
              <img class="driving_option_img" src="assets/img/car.png" height="25" width="30">
              <h6 class="text-center">Car</h6>
            </div>
          </div>
          <div class="col-sm-4 driving_option">
            <div #truck_div class="justify-content-center text-center truck" (click)="truck_click()">
              <img class="driving_option_img" src="assets/img/truck.png" width="30" height="25">
              <h6 class="text-center">Truck</h6>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset class="distancefilter">
      <label style="margin-bottom: 0px" for="distanceoption">Distance</label>
      <div>
        <ng5-slider #distance_slider [(value)]="sliderValue" [options]="sliderOptions"
          (userChangeStart)="onUserChangeStart($event)" (userChange)="onUserChange($event)"
          (userChangeEnd)="onUserChangeEnd($event)">
        </ng5-slider>
      </div>
    </fieldset>
    <fieldset style="margin-top:20px">
      <div class="row">
        <div class="col-lg-6">
          <label for="opening_time">Opening Time</label>
          <div *ngFor="let item of opening_days; let i = index;">
            <mat-checkbox [checked]="item.checked" (change)="onOpen_Change($event, i, item)">
              {{item.label}}
            </mat-checkbox>
          </div>
        </div>
        <div class="col-lg-6">
          <label for="opening_time">Theory Time</label>
          <div *ngFor="let item of theater_days; let i = index;">
            <mat-checkbox [checked]="item.checked" (change)="onTheatre_Change($event, i, item)">
              {{item.label}}
            </mat-checkbox>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
