<div class="googlemap">
  <agm-map [latitude]="_mapservice.map_main_lat" [zoom]="_mapservice.zoom()" [longitude]="_mapservice.map_main_lng">
    <agm-marker *ngFor = "let item of datas | mapfilter" [latitude]="item.companyAddress.lat" [longitude]="item.companyAddress.lng"></agm-marker>
  </agm-map>
</div>
