/* You can add global styles to this file, and also import other style files */
@import '~foundation-sites/scss/foundation';
  @include foundation-everything;
@import "~ngx-foundation/assets/scss/main";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
